body {
  width: 100vw;
  height: 90vw;
  margin-top: 10px;
  background: goldenrod;
  font-family: 'Inter', sans-serif;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 46px;
  margin-top: 50px;
}
.inicio{
  display: flex;
  justify-content: center;
  align-items: center;
}
#botao-inicio{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  width: 200px;
  height: 80px;
  background: purple;
  border-radius: 24px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}
.contaneir {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#imagem {
  background-image: url(../img/forca.png);
  width: 234px;
  height: 272px;
  background-repeat: no-repeat;
}

#palavra-secreta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin-top: 30px;
}

.letras {
  width: 16px;
  text-align: center;
  border-bottom: 2px solid #80008b;
  color; white;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

#teclado {
  margin-top: 30px;
}

.teclas button{
  width: 24px;
  height: 24px;
  margin: 2px;
  margin-bottom: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 8px gray;
  border-radius: 5px;
  border: 1px solid gray;
  color: black;
}
.teclas button:disabled{
  cursor: not-allowed;
}
.teclas button:hover{
  transform: scale(1.3);
}

#categoria {
  margin-top: 30px;
  color: purple;
  font-size: 1.2em;
  text-transform: uppercase;
}

@media (min-width: 321px) {
  .teclas button{
    width: 25px;
    height: 25px;
  }
  #categoria{
    font-size: 1.3em;
  }
}
@media (min-width: 376px) {
  .teclas button{
    width: 30px;
    height: 30px;
  }
  #palavra-secreta{
    font-size: 1.3em;
  }
  .letras{
    width: 18px;
  }
  #categoria{
    font-size: 1.5em;
  }
}
@media (min-width: 426px) {
  .teclas button{
    width: 36px;
    height: 36px;
  }
  #palavra-secreta{
    font-size: 1.5em;
  }
  .letras{
    width: 20px;
  }
  #categoria{
    font-size: 1.6em;
  }
}
@media (min-width: 769px) {
  .teclas button{
    width: 68px;
    height: 68px;
    font-size: 2em;
  }
  #palavra-secreta{
    font-size: 2.5em;
  }
  .letras{
    width: 35px;
  }
  #categoria{
    font-size: 2em;
  }
}
